@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.organizers {
    font-family: 'Montserrat', sans-serif;
}

.organizers h1 {
    font-size: 2em;
    color: #84478F;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0;
}

.organizers h2 {
    font-size: 1.5em;
    color: #CA94EF;
    margin-left: 1.45em;
    margin-top: 0;
}

.organizers p {
    margin-left: 1.55em;
    margin-right: 1.55em;
    font-size: 1.5em;
}

.organizers img {
    width: 100%;
    height: 85%;
    margin: 2rem;
}